org: b2cryptoserverless
app: pomelo-card-managment
service: pomelo-card-managment-endpoints
frameworkVersion: "3"

useDotenv: true

package:
  individually: true
  excludeDevDependencies: true

plugins:
  - serverless-offline
  - serverless-dotenv-plugin
  - serverless-plugin-optimize

provider:
  name: aws
  runtime: nodejs18.x
  region: eu-west-3
  httpApi:
    cors: true
    authorizers:
      JWTAuthorizerUser:
        type: jwt
        identitySource: $request.header.Authorization
        issuerUrl: https://cognito-idp.${env:AMAZON_REGION}.amazonaws.com/${env:AMAZON_USER_POOL}
        audience:
          - ${env:CLIENTID}

functions:
  searchCardsPomelo:
    handler: handler.searchCards
    events:
      - httpApi:
          path: /search_cards
          method: get
          authorizer:
            name: JWTAuthorizerUser
  createCard:
    handler: handler.createCard
    events:
      - httpApi:
          path: /create_card
          method: post
          authorizer:
            name: JWTAuthorizerUser
  updateCard:
    handler: handler.updateCard
    events:
      - httpApi:
          path: /update_card/{cardId}
          method: patch
          authorizer:
            name: JWTAuthorizerUser
  getTokenPrivateInfo:
    handler: handler.getPrivateInfoToken
    events:
      - httpApi:
          path: /token_confidential
          method: post
          authorizer:
            name: JWTAuthorizerUser
  searchTransactionRecords:
    handler: handler.listTransactionRecords
    events:
      - httpApi:
          path: /list_transaction_records
          method: get
          authorizer:
            name: JWTAuthorizerUser
  activateCard:
    handler: handler.activateCard
    events:
      - httpApi:
          path: /activate_card
          method: post
          authorizer:
            name: JWTAuthorizerUser
  getAllTransactionRecords:
    handler: handler.getTransactionAllRecords
    events:
      - httpApi:
          path: /list_all_transaction_records
          method: get
          authorizer:
            name: JWTAuthorizerUser
  getAllNotificationRecords:
    handler: handler.getNotificationAllRecords
    events:
      - httpApi:
          path: /list_all_notification_records
          method: get
          authorizer:
            name: JWTAuthorizerUser
  getAllAdjusmentsRecords:
    handler: handler.getAdjusmentAllRecords
    events:
      - httpApi:
          path: /list_all_adjusment_records
          method: get
          authorizer:
            name: JWTAuthorizerUser

