org: b2cryptoserverless
app: pomelo-card-managment
service: pomelo-card-managment-endpoints
frameworkVersion: "3"

useDotenv: true

plugins:
  - serverless-offline
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: nodejs18.x
  region: eu-west-3
  httpApi:
    cors: true
    authorizers:
      JWTAuthorizer:
        type: jwt
        identitySource: $request.header.Authorization
        issuerUrl: https://cognito-idp.${env:AMAZON_REGION}.amazonaws.com/${env:AMAZON_USER_POOL}
        audience:
          - ${env:CLIENTID}
      JWTAuthorizerUser:
        type: jwt
        identitySource: $request.header.Authorization
        issuerUrl: https://cognito-idp.${env:AMAZON_REGION}.amazonaws.com/${env:AMAZON_USER_POOL_USERS}
        audience:
          - ${env:CLIENT_ID_POMELO_USERS}

functions:
  searchCardsPomelo:
    handler: handler.searchCards
    events:
      - httpApi:
          path: /search_cards
          method: get
          authorizer:
            name: JWTAuthorizerUser
  createCard:
    handler: handler.createCard
    events:
      - httpApi:
          path: /create_card
          method: post
          authorizer:
            name: JWTAuthorizer
  updateCard:
    handler: handler.updateCard
    events:
      - httpApi:
          path: /update_card/{cardId}
          method: patch
          authorizer:
            name: JWTAuthorizer
  getTokenPrivateInfo:
    handler: handler.getPrivateInfoToken
    events:
      - httpApi:
          path: /token_confidential
          method: post
          authorizer:
            name: JWTAuthorizerUser
  modifyBalanceCreditCard:
    handler: handler.modifyBalance
    events:
      - httpApi:
          path: /modify_balance
          method: post
          authorizer:
            name: JWTAuthorizer
  searchTransactionRecords:
    handler: handler.listTransactionRecords
    events:
      - httpApi:
          path: /list_transaction_records
          method: get
          authorizer:
            name: JWTAuthorizerUser

